body {
    height: auto;
    overflow-y: auto;
    background-color:lightgrey;
    margin: 0;
    font-family: Lato, sans-serif;
    font-weight: 300;
}



.bienvenida {
    margin: 100px auto;
    width: fit-content;
}

.login{
    margin-top: 10%;
    margin-left: 35%;
}
