{{# partial "titulo" }}
   <title> Entidad inexistente </title>
{{/partial}}
  
{{# partial "contenido" }}
    <h2> Error </h2>
	La entidad a la que se queria acceder no existe
{{/partial}}

{{> layout.hbs }}