<html>
  <head>
    <meta charset="utf-8">
    <title>Resultado</title>
    <link rel="stylesheet" href="form-ingreso/css/master.css">
  </head>
  <body>

    <div class="login-box">
      <img src="form-ingreso\img\download.jpg" class="avatar" alt="Avatar Image">
      <h1>El id de su egreso es {{id}}</h1>
            <form method="GET" action="/">
       		<input type="submit" target="_blank" class="boton_1" value="Volver a home">
      		</form>
    </div>
  </body>
</html>
