<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/main.css">

</head>
<body>
<div id="mensaje">
    </div>
    <div class = "login">
    <form id="form" name="form" class="px-4 py-3">
        <h1><span class="badge badge-secondary col-lg-6">Registrarse en el sistema</span></h1>
        <div class="form-group col-lg-6">
            <label for="exampleDropdownFormEmail1">Nombre de usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario" required>
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleDropdownFormEmail1">Constraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group col-lg-6">
            <label for="exampleDropdownFormEmail1">Confirmar contraseña</label>
            <input type="password" class="form-control" id="passwordConfirm" required>
        </div>
        <button type="button" id="button" class="btn btn-primary col-lg-6">Registrarse</button> <br>
        <br>
            <a href="/login" class="btn btn-primary col-lg-6">Volver a login</a>
        
    </form>
    
    </div>
</div>

<script>
    $("#button").on("click", function() {
        if($("#password").val()!=$("#passwordConfirm").val()) {
            alert("Passwords do not match");
            return false;
        }

        var usuario = $('#usuario').val();
        var password = $('#password').val();

        var data = {'usuario': usuario, 'password': password};

        $.ajax({
            url: '/registro',
            type:'POST',
            data: data,
            success: function(result) {
                $("#mensaje").html(result);
            },
            error: function (error) {
                alert("Se ha producido un error inesperado, intente más tarde");
                console.log(error)
            }
        });
    })
</script>
</body>
</html>