
{{# partial "titulo" }}
    <title>Ver etiquetas del egreso {{id}}</title>
{{/partial}}
{{# partial "contenido"}}
        <div>
                  <h1 class="bienvenida">Lista de etiquetas</h1>
    
          		<table class= "table table-hover">
			<tr>
				<th scope="col"> nombre </th>
				
			</tr>
			{{#each etiquetas}}
			<tr>
				<td> {{ this }} </td>
				
			</tr>
			{{/each}}
			</table>
			<h2>Cargar nueva etiqueta </h2>
          <form method="POST" name="egresos/{{ id }}/etiqueta">
            <label for="etiqueta">Etiqueta</label>
            <input type="text" name="etiqueta" placeholder="Etiqueta" class ="form-control">

                 <input type="submit" value="Confirmar"> <br>
          </form>
        </div>
{{/partial}}
{{> layout.hbs }}