
{{# partial "titulo" }}
    <title>Presupuestos del egreso {{id}}</title>
{{/partial}}
{{# partial "contenido"}}
        <div>
                  <h1 class = "bienvenida">Lista de presupuestos</h1>
    
          		<table class="table table-hover">
			<tr>
				<th scope="col"> detalle </th>
				<th scope="col"> Ver items </th>
				
			</tr>
			{{#each presupuestos}}
			<tr>
				<td> {{ detalle }} </td>
				<td> <a href="/presupuesto/{{ id }}/item" class="btn btn-primary">Ver items</a> </td>
				
			</tr>
			{{/each}}
			</table>
			<h2>Cargar nuevo presupuesto </h1>
          <form method="POST" name="egresos/{{ id }}/presupuesto">
            <label for="detalle_presupuesto">Detalle del presupuesto</label>
            <input type="text" name="detalle_presupuesto" placeholder="Detalle del presupuesto" class ="form-control">

                 <input type="submit" value="Confirmar"> <br>
          </form>
        </div>
{{/partial}}
{{> layout.hbs }}